@charset "UTF-8";

/*页头页脚*/

header {
	height: 0.86rem;
	background: #fff;
}

header .top {
	height: 0.38rem;
	line-height: 0.38rem;
	color: #9b9b9b;
	font-size: 0.12rem;
	border-bottom: 1px solid #ebebeb;
}

header .top a img {
	position: relative;
	top: -1px;
}

header .nav {
	height: 0.86rem;
}

header .nav div {
	height: inherit;
	float: left;
}

header .nav div:first-child {
	line-height: 0.86rem;
}

header .nav div:nth-child(2) {
	float: right;
	/*width: 1.4rem;*/
	height: 0.3rem;
	margin-top: 0.28rem;
}

header .nav div:nth-child(2) .login_out,
header .nav div:nth-child(2) .login_in {
	display: inline-block;
	width: inherit;
	height: inherit;
}

header .nav div:nth-child(2) .login_out a {
	display: inline-block;
	margin: 0 0.10rem;
	width: 0.59rem;
	height: 0.28rem;
	text-align: center;
	line-height: 0.28rem;
	font-size: 0.14rem;
	color: #3788f8;
	border: 1px solid #3788f8;
	border-radius: 0.03rem;
}

header .nav div:nth-child(2) .login_out a:last-child {
	float: right;
}

header .nav div:nth-child(2) .login_out a:hover {
	background: #3788f8;
	color: #fff;
}

header .nav div:nth-child(2) .login_in {
	display: none;
	line-height: 0.3rem;
	text-align: center;
	font-size: 0.14rem;
	color: #3788f8;
}

header .nav div:nth-child(2) .login_in img {
	position: relative;
	top: -1px;
	left: 0.05rem;
}

header .nav div:nth-child(3) {
	float: right;
	height: 0.86rem;
	line-height: 0.86rem;
	margin-right: 1.25rem;
	font-size: 0.16rem;
	color: #878787;
}

header .nav div:nth-child(3)>ul>li {
	float: left;
	margin-left: 0.5rem;
	cursor: pointer;
}

header .nav div:nth-child(3)>ul>li>img {
	margin-left: 0.05rem;
}

header .nav div:nth-child(3)>ul>li ul {
	background: orange;
}

header .nav div:nth-child(3)>ul .active {
	color: #3788f8;
}

footer {
	height: 1.1rem;
	background: #2d3641;
}

.footer_left {
	float: left;
	width: 5.0rem;
	text-align: left;
}

.footer_left img {
	margin-bottom: 0.1rem;
}

.footer_left p {
	color: #FFFFFF;
	font-size: 0.12rem;
	line-height: 0.5rem;
}

.footer_right {
	float: right;
	width: 5.0rem;
	text-align: right;
	overflow: hidden;
	color: #FFFFFF;
}

.footer_right>p:nth-child(1) {
	float: right;
	text-align: left;
	width: 2.2rem;
	margin-left: 2.8rem;
	font-size: 0.12rem;
}

.footer_right>p:nth-child(2) {
	float: right;
	text-align: left;
	width: 2.2rem;
	margin-left: 2.8rem;
	font-size: 0.30rem;
}


/*登录注册页*/

.login_header {
	width: 100%;
	height: 0.75rem;
	background: #fff;
}

.login_header .logo {
	height: 0.35rem;
	line-height: 0.35rem;
	text-align: right;
	font-size: 0.24rem;
	color: #364057;
}

.login_header .logo a {
	display: inline-block;
	width: 1.50rem;
	height: 0.35rem;
	margin: 0.2rem 0.35rem 0.2rem 0.25rem;
}

.login_header .tel,
.login_header .app {
	height: 0.76rem;
	line-height: 0.76rem;
	font-size: 0.14rem;
	color: #4f586c;
	margin-right: 0.45rem;
}

.login_header .tel img,
.login_header .app img {
	margin-right: 0.10rem;
	position: relative;
	top: -0.01rem;
}

.login_body {
	width: 100%;
	height: 5.60rem;
	background: url(../../img/1LoginRegister/bck_login.png) no-repeat center center;
}

.login_body .form_box {
	width: 4.2rem;
	height: 5rem;
	margin: 0.3rem 0.45rem;
	background: #fff;
	border-radius: 0.05rem;
	position: relative;
}

.login_body .form_box .tab {
	width: 3.50rem;
	height: 0.26rem;
	line-height: 0.26rem;
	margin: 0 auto;
	margin-top: 0.35rem;
}

.login_body .form_box .tab .line {
	width: 0.01rem;
	height: 0.26rem;
	background: #ebebeb;
}

.login_body .form_box .tab .tab_login,
.login_body .form_box .tab .tab_register {
	width: 1.74rem;
	height: inherit;
	font-size: 0.24rem;
	text-align: center;
	color: #9b9b9b;
	cursor: pointer;
}

.login_body .form_box .tab .active {
	color: #3788f8;
}

.login_body .form_box #login_form {
	position: absolute;
	top: 0.90rem;
	left: 0.35rem;
}

.login_body .form_box #register_form {
	position: absolute;
	top: 0.6rem;
	left: 0.35rem;
}

.login_body .form_box #login_form,
.login_body .form_box #register_form {
	width: 3.50rem;
}

.login_body .form_box #login_form input,
.login_body .form_box #register_form input {
	width: 100%;
	margin-top: 0.1rem;
	border: none;
	outline: none;
	background: #fff;
}

.login_body .form_box #login_form input:-webkit-autofill,
.login_body .form_box #register_form input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0rem 10rem white inset;
}

.login_body .form_box #login_form .login_phone,
.login_body .form_box #login_form .login_password,
.login_body .form_box #register_form .login_phone,
.login_body .form_box #register_form .login_password {
	width: 100%;
	height: 0.62rem;
	border-bottom: 1px solid #ebebeb;
	position: relative;
}

.login_body .form_box #login_form .login_phone input,
.login_body .form_box #login_form .login_password input,
.login_body .form_box #register_form .login_phone input,
.login_body .form_box #register_form .login_password input {
	height: 0.5rem;
}

.login_body .form_box #login_form .login_phone img,
.login_body .form_box #login_form .login_password img,
.login_body .form_box #register_form .login_phone img,
.login_body .form_box #register_form .login_password img {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-40%);
}

.login_body .form_box #login_form .invitcode,
.login_body .form_box #register_form .invitcode {
	font-size: 0.14rem;
	color: #384665;
	margin-top: 0.2rem;
	cursor: pointer;
}

.login_body .form_box #login_form .reg_phone,
.login_body .form_box #login_form .reg_piccode,
.login_body .form_box #login_form .reg_smscode,
.login_body .form_box #login_form .reg_password,
.login_body .form_box #register_form .reg_phone,
.login_body .form_box #register_form .reg_piccode,
.login_body .form_box #register_form .reg_smscode,
.login_body .form_box #register_form .reg_password {
	width: 100%;
	height: 0.52rem;
	border-bottom: 1px solid #ebebeb;
	position: relative;
}

.login_body .form_box #login_form .reg_phone input,
.login_body .form_box #login_form .reg_piccode input,
.login_body .form_box #login_form .reg_smscode input,
.login_body .form_box #login_form .reg_password input,
.login_body .form_box #register_form .reg_phone input,
.login_body .form_box #register_form .reg_piccode input,
.login_body .form_box #register_form .reg_smscode input,
.login_body .form_box #register_form .reg_password input {
	height: 0.4rem;
}

.login_body .form_box #login_form .reg_phone img,
.login_body .form_box #login_form .reg_piccode img,
.login_body .form_box #login_form .reg_smscode img,
.login_body .form_box #login_form .reg_password img,
.login_body .form_box #register_form .reg_phone img,
.login_body .form_box #register_form .reg_piccode img,
.login_body .form_box #register_form .reg_smscode img,
.login_body .form_box #register_form .reg_password img {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-30%);
}

.login_body .form_box #login_form .reg_phone .get_smscode,
.login_body .form_box #login_form .reg_piccode .get_smscode,
.login_body .form_box #login_form .reg_smscode .get_smscode,
.login_body .form_box #login_form .reg_password .get_smscode,
.login_body .form_box #register_form .reg_phone .get_smscode,
.login_body .form_box #register_form .reg_piccode .get_smscode,
.login_body .form_box #register_form .reg_smscode .get_smscode,
.login_body .form_box #register_form .reg_password .get_smscode {
	width: 1.05rem;
	height: 0.2rem;
	line-height: 0.2rem;
	text-align: center;
	border-left: 1px solid #ebebeb;
	color: #3788f8;
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-30%);
}

.login_body .form_box #login_form .reg_invitcode,
.login_body .form_box #register_form .reg_invitcode {
	width: 100%;
	height: 0.4rem;
	border-bottom: 1px solid #ebebeb;
}

.login_body .form_box #login_form p,
.login_body .form_box #register_form p {
	height: 0.50rem;
	margin-top: 0.12rem;
	line-height: 0.50rem;
	color: #384665;
	text-align: right;
}

.login_body .form_box #login_form .error,
.login_body .form_box #register_form .error {
	width: 100%;
	text-align: center;
	color: #ff5353;
	margin-top: 0.1rem;
	margin-bottom: 0.1rem;
}

.login_body .form_box #login_form button,
.login_body .form_box #register_form button {
	width: 100%;
	height: 0.45rem;
	color: #fff;
	font-size: 0.16rem;
	outline: none;
	border: none;
	background: #3788f8;
	border-radius: 0.05rem;
}

.login_body .form_box #login_form .deal,
.login_body .form_box #register_form .deal {
	text-align: center;
	font-size: 0.12rem;
	margin-top: 0.18rem;
	line-height: 0.20rem;
	height: 0.20rem;
	color: #384665;
	overflow: hidden;
}

.deal a {
	color: #007AFF;
	line-height: 0.20rem;
}

.deal span {
	color: #007AFF;
	line-height: 0.20rem;
	cursor: pointer;
}

.login_body .form_box #login_form .deal a,
.login_body .form_box #register_form .deal a {
	color: #6c85bf;
}

.login_body .form_box #login_form .deal img,
.login_body .form_box #register_form .deal img {
	position: relative;
	bottom: 2px;
	width: 0.14rem;
	height: 0.14rem;
	cursor: pointer;
}

.login_footer {
	width: 100%;
	height: 0.9rem;
	line-height: 0.9rem;
	color: #9b9b9b;
	text-align: center;
	font-size: 0.12rem;
	background: #364057;
	cursor: pointer;
}

.UnClick {
	pointer-events: none;
}

.UnClickBtn {
	pointer-events: none;
	color: #FFFFFF;
	background: #9b9b9b;
	border: none;
}

.pageTest,
.pageTest1,
.pageTest2,
.pageTest3 {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.activP {
	background-color: #3788f8!important;
	color: #fff!important;
}

.login_in {
	color: #3788f8;
}


/*# sourceMappingURL=main.css.map */

.indexMDisplay {
	width: 9.4rem;
	height: 0.92rem;
	border-bottom: 1px dashed #f0f0f0;
	font-size: 0.18rem;
}

.indexMDisplay li {
	float: left;
	text-align: center;
	width: 33.333%;
	line-height: 0.92rem;
}

.indexMDisplay span {
	color: #ff565b;
	font-size: 0.24rem;
	display: inline-block;
	padding-left: 0.24rem;
}

.indexMDisplay em {
	font-size: 0.18rem;
}

.ISMdiv {
	padding: 0 0.34rem;
}

.ISMdiv_name {
	font-size: 0.14rem;
	line-height: 1.12rem;
	width: 1.75rem;
}

.ISMdiv_rate {
	width: 2.32rem;
	text-align: center;
}

.ISMdiv_rate>p:nth-child(1) {
	color: #ff565b
}

.ISMdiv_plan {
	padding-left: 0.5rem;
	width: auto;
	float: left;
}

.ISMdiv_plan span {
	font-size: 0.2rem
}

.div_panColor {
	color: #9B9B9B
}

.ISMdiv_limit {
	line-height: 1.12rem;
	font-size: 0.16rem;
	color: #4b4b4b;
	padding-left: 0.58rem
}

.ISMdiv_btn {
	margin: 0.4rem 0 0 0.50rem;
	color: #3788f8;
	border: 1px solid #3788f8;
	width: 1.0rem;
}

.resetISMdiv_btn {
	border: none;
	margin-left: 1.6rem
}

.ISPRate {
	color: #ff565b;
	font-size: 0.3rem
}

.ISPRate em {
	font-size: 0.18rem
}

.ISP {
	height: 1.24rem;
	border-bottom: 1px solid #ebebeb;
	line-height: 1.24rem;
}

.ISPAArate {
	display: inline-block;
	width: 0.72rem;
	height: 0.24rem;
	text-align: center;
	line-height: 0.24rem;
	text-align: center;
	background: #ffeced;
	margin: 0.52rem 0 0 0.4rem;
	border-radius: 3px;
	color: #ff565b;
}

.cooperative {
	height: 1.36rem;
	background: #FFFFFF;
	/*overflow: hidden;*/
}

.cooperative img {
	margin: 0.44rem 0.3rem 0 0;
	width: 1.28rem;
	height: 0.40rem;
	background-size: 100% 100%;
}

.cooperative .cooperativeF {
	margin-left: 0.2rem;
}

.cooperative .cooperativeL {
	margin-right: 0;
}


/*出借协议*/

.zd {
	display: inline-block;
	width: 100px;
	background: red;
}

.registerdeal-box {
	width: 900px;
	margin: 30px auto;
	padding: 50px;
	border: 1px solid #e8ecef;
	background: #fff;
	box-shadow: 0px 0px 5px #ccc;
	font-size: 14px;
	line-height: 25px;
}

.registerdeal-box p {
	text-indent: 2em;
	line-height: 25px;
}

.registerdeal-tit {
	font-size: 18px;
	font-weight: bold;
	width: 100%;
	text-align: center;
	margin-bottom: 40px;
}

.indent2 {
	text-indent: 2em;
}

.registerdeal-box table {
	border: 1px solid #000;
}

.userInfo #mainform input[type=text] {
	height: 40px!important;
}

.fpwd-box {
	width: 100%;
}

.fpwd-header {
	height: 77px;
}

.step-box {
	min-width: 1100px;
}

.fpwd-step {
	list-style: none;
	padding: 60px 0 95px 300px;
}

.fpwd-step li {
	float: left;
	margin: 0 40px;
}

.step-circle {
	width: 28px;
	height: 28px;
	border-radius: 50%;
	color: #fff;
	background: #666;
	line-height: 28px;
	text-align: center;
}

.step-name {
	position: relative;
	left: -60px;
	width: 150px;
	text-align: center;
	line-height: 26px;
}

.step-line {
	position: relative;
	top: -40px;
	left: 50px;
	width: 160px;
	height: 3px;
	background: #666;
}

.fpwd-step .selected .step-circle,
.fpwd-step .done .step-circle,
.fpwd-step .done .step-line {
	background: #0e8bf7;
}

.fpwd-step .selected .step-name,
.fpwd-step .done .step-name {
	color: #0e8bf7;
}

.getcodes {
	width: 100%;
	height: 40px;
	border-radius: 4px;
	border: 1px solid #0e8bf7;
	background: #fff;
	color: #0e8bf7;
	font-size: 14px!important;
}

.changecodes {
	width: 100%;
	height: 35px;
	text-align: center;
}

.step-box label {
	font-weight: 400;
	margin-top: 3px;
}

.step-box label b {
	color: #F77B0F;
	margin-right: 10px;
}

.step-box .form-group input {
	font-size: 14px;
}

.step-box .form-group input[type=button] {
	font-size: 16px;
}

.backtologin {
	float: right;
}

.changepwdok {
	text-align: center;
	font-size: 20px;
	color: #0e8bf7;
}

.changepwdok a {
	color: #F77B0F;
}

.changepwdok a:hover {
	text-decoration: underline;
}

.changepwdok i {
	font-size: 28px;
	position: relative;
	top: 3px;
	right: 5px;
}

.fpwd-submit {
	width: 350px;
	height: 46px;
	text-align: center;
	background: #0e8bf7;
	border: none;
	border-radius: 4px;
	font-size: 16px;
	color: #fff;
}

.fpwd-foot {
	width: 100%;
	height: 60px;
	position: absolute;
	bottom: 0;
	text-align: center;
	line-height: 60px;
	color: #666;
}

.LDP1 {
	width: 9.4rem;
	height: 1.25rem;
	border-bottom: 1px solid #ebebeb;
	overflow: hidden;
}

.LDP1>div:nth-child(1) {
	width: 1.7rem;
	line-height: 1.25rem;
	float: left;
	text-align: left;
	font-size: 0.16rem;
	color: #4B4B4B;
}

.LDP1>div:nth-child(2) {
	float: left;
	text-align: left;
	width: 2.4rem;
}

.LDP1>div:nth-child(3) {
	float: left;
	text-align: left;
	width: 2.4rem;
}

.LDP1>div:nth-child(4) {
	float: left;
	text-align: left;
	width: 1.6rem;
}

.LDP1>div:nth-child(5) {
	float: left;
	text-align: left;
	width: 1.3rem;
}

.LDP1_p1 {
	margin-top: 0.25rem;
	height: 0.3rem;
	line-height: 0.3rem;
	font-size: 0.18rem;
	color: #4B4B4B;
}

.LDP1_p2 {
	margin-top: 0.15rem;
	height: 0.2rem;
	line-height: 0.2rem;
	color: #9B9B9B;
	font-size: 0.14rem;
}

.LDP1>div:nth-child(5) span {
	margin: 0.45rem 0;
	height: 0.3rem;
	width: 1.0rem;
	float: right;
	border: 1px solid #3788f8;
	color: #3788f8;
	text-align: center;
	line-height: 0.3rem;
	font-size: 0.14rem;
	box-sizing: border-box;
	border-radius: 2px;
}

.LDP1>div:nth-child(5) span:hover {
	color: #FFFFFF;
	background-color: #3788f8;
	cursor: pointer;
}
.showH{
	display: inline-block;
	width: 0.40rem;
	height: 0.30rem;
	background-color: #3788f8;
	text-align: center;
	color: #FFFFFF;
	border-radius:0.05rem ;
}
